{% extends 'base.html' %}{% block home %}
<div
  style="
    background-image: url('/static/hotelhero1.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 689px;
  "
>
  <h1
    style="
      text-align: center;
      padding-top: 20%;
      font-size: 70px;
      color: aliceblue;
    "
  >
    Enjoy your dream vacation
  </h1>
  <p
    style="
      text-align: center;
      color: white;
      font-weight: bolder;
      font-size: 30px;
    "
  >
    Welcome to Albertop Hotel, where every stay is a seamless blend of <br />
    luxury, comfort, and unforgettable experiences
  </p>
</div>
<div style="padding-top: 50px">
  <div><h2 style="text-align: center">Our facilities</h2></div>
  <div class="facilities">
    <div style="display: flex; flex-direction: column">
      <div style="text-align: center"><i class="fa-solid fa-car"></i></div>
      <div style="text-align: center">Parking Area</div>
    </div>
  </div>
  <div></div>
</div>
{% endblock %}
