{% extends 'base.html' %}{% block viproom %}
<div
  style="
    background-image: url('/static/viproom.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 700px;
  "
>
  <h1>VIP room</h1>
</div>
<div style="text-align: center">
  <button
    type="submit"
    style="margin: 20px; padding: 20px; width: 1000px"
  >
    <a
      style="
        text-decoration: none;
        font-size: 50px;
        color: black;
        cursor: pointer;
      "
      href=""
    >
      Book Now</a
    >
  </button>
</div>
{% endblock %}
