{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
    <style>
      .roomintro {
        background-image: url("/static/suite1.jpg");
        background-repeat: no-repeat;
      }
      .roomh1 {
        font-size: 50px;
        text-align: center;
      }
      .roompara {
        text-align: center;
      }
    </style>
  </head>
  <body>
    <nav>
      <div>
        <div class="logo">Albertop Hotel</div>
        <div>
          <span class="signin">
            <a href="{url 'customer:login'}">Sign in</a> </span
          ><span class="book"><a href="{url 'rooms:room' }">Book now</a></span>
        </div>
      </div>
    </nav>
    <div>{% block home %} {% endblock %}</div>
    <div>{% block navbar %} {% endblock %}</div>
    <div>{% block rooms %} {% endblock %}</div>
  </body>
</html>
