{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0"
    />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{% static 'styles.css' %}"
    />
    <script
      src="https://kit.fontawesome.com/9fb02a6b6b.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <header>
      <nav>
        <div
          class="navbar"
          style="background: transparent; backdrop-filter: blur(10px)"
        >
          <div class="logo">
            <a href="{% url 'home:home' %}">Albertop Hotel</a>
          </div>
          <div>
            <span class="signin">
              <a href="{% url 'customer:login' %}">Sign in</a> </span
            ><span class="book"
              ><a href="{% url 'rooms:rooms' %}">Book now</a></span
            >
          </div>
        </div>
      </nav>
    </header>
    <div>{% block home %} {% endblock %}</div>
    <div>{% block rooms %} {% endblock %}</div>
    <div>{% block standard %} {% endblock %}</div>
    <div>{% block viproom %} {% endblock %}</div>
    <div>{% block booking %} {% endblock %}</div>
    <div>{% block success %} {% endblock %}</div>
  </body>
</html>
